#addAuthorContent{
    display: none;
}

#addGenreContent{
    display: none;
}

#addBookContent{
    display: none;
}

#addAuthorToBookContent{
    display: none;
}

#viewBookAuthorsContent{
    display: none;
}

#addMediaTypeContent{
    display: none;
}

#addMediaToBookContent{
    display: none;
}

#showBooksContent{
    display: none;
}

#showBooksTable{
    border: 1px solid #ddd;;
    border-collapse: collapse;
    padding: 15px;
}

#showBooksTable td, th{
    border: 1px solid #ddd;;
    border-collapse: collapse;
    padding: 15px;
}
