.buttons{
    /*display: inline-block;*/
    display: inline;
    /*float: left;*/
}

.buttons button{
    background-color: #006080;
    color: white;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

.buttons button:hover{
    background-color: #0086b3;
}

/*#dialogue {*/
    /*display: none;*/
    /*position: absolute;*/
    /*bottom: 50px;*/
    /*left: 40%;*/
    /*margin-left: 0px;*/
    /*width: 300px;*/
    /*padding: 10px;*/
    /*background: -moz-linear-gradient(#80dfff, #e6f9ff);*/
    /*background: -webkit-linear-gradient(#80dfff, #e6f9ff);*/
    /*background: -o-linear-gradient(#80dfff, #e6f9ff);*/
/*}*/

/*.dialogueContainer:hover #dialogue {*/
    /*display: block;*/
/*}*/

/*#WF {*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*color: white;*/
    /*font-style: italic;*/
/*}*/