#logo{
	width:150px;
	height:150px;
	float:left;
	border-radius: 50%;
}

#headerText{
	font-size: 20px;
	/*background-color:#ffffcc;*/
	background: -webkit-linear-gradient(#ffffcc, #ffffe6);
	color: #009999;
	text-align:center;
	padding: 20px;
}

.buttons{
	/*display: inline-block;*/
	display: inline;
	/*float: left;*/
}

.buttons button{
	background-color: #006080;
	color: white;
	border: none;
	border-radius: 10px;
	width: 150px;
	height: 30px;
}

.buttons button:hover{
	background-color: #0086b3;
}

.floating_media{
	float: left;
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropbtn {
	/*top: 50px;*/


	right: 40%;
	margin-right: 0px;
}

li a:hover, .book-genres:hover .dropbtn {
	background-color: #d5e8ff;
}

li.book-genres {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.book-genres:hover .dropdown-content {
	display: block;
}

.authorList:hover .dropdown-content {
	display: block;
}

#dialogue {
	display: none;
	position: absolute;
	bottom: 50px;
	left: 40%;
	margin-left: 0px;
	width: 300px;
	padding: 10px;
	background: -moz-linear-gradient(#80dfff, #e6f9ff);
	background: -webkit-linear-gradient(#80dfff, #e6f9ff);
	background: -o-linear-gradient(#80dfff, #e6f9ff);
}


/*#id1 {*/
	/*clear: both;*/
/*}*/

.dialogueContainer:hover #dialogue {
	display: block;
}

#WF {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-style: italic;
}


#searchHeader{
	background-color:#c3dfef;
}
#newSearch{
	/*display: inline-block;*/
	float:right;
	padding:20px;
}
.textInput{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.searchButton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.searchButton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.searchButton::-moz-focus-inner {
	border: 0;
}
.clear{
	clear:both;
}